.env
.env.backup
.env.production
.git
.gitignore
node_modules
public/build
public/hot
vendor
storage/framework/cache/data/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
tests
.dockerignore
.idea
.vscode
*.log
*.md
